body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #fff;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container {
    display: flex;
    align-items: center;
}
header img {
    height: 40px;
}
header h1 {
    margin: 0;
    margin-left: 10px;
	font-size: 20px;

}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li {
    margin-left: 10px;
}
header nav ul li a {
    color: black;
    text-decoration: none;
}
.title {
    text-align: center;
    margin-top: 50px;
	font-size: 22px;
}
.title h2{
    margin: 10px;
}
.center-content {
	line-height: 1.5;
    margin: 10px;
	text-align: center;
	font-size: 18px;
}
.container {
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: rgb(251, 251, 251);
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}
.centered-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.container3 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin: 20px auto;
	max-width: 1200px;
}
.image-container3 {
	text-align: center;
	margin-bottom: 20px;
}
.image-container3 img {
	width: 375px;
	height: auto;
	border-radius: 10px;
}
.image-container3 p {
	margin-top: 10px;
}

.container4 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin: 20px auto;
	max-width: 1200px;
}
.image-container4 {
	text-align: center;
	margin-bottom: 20px;
}
.image-container4 img {
	width: 375px;
	height: auto;
	border-radius: 10px;
}
.image-container4 p {
	margin-top: 10px;
}

.rescontainer {
	display: flex;
}

.restext {
	flex: 1;
	padding-top: 100px;
}
.restext1 {
	flex: 1;
	padding-top: 200px;
}
.resheight{
	line-height: 1.8;
}
.resimage {
	flex: 1;
	padding: 20px;
}

img {
	max-width: 100%;
	height: auto;
}

.img1 {
	border-radius: 5%;
	max-width: 100%;
	height: auto;
}
.black-section {
	background-color: black; /* Background color for the centered section */
	padding-bottom: 100px;
	
}
.black-section h4 {
    margin: 0;
    margin-left: 100px;
	margin-top: 150px;
	font-size: 150px;
}
.faq-heading {
	padding-top: 100px;
    color: white; /* Set text color */
}
.black-section p {
    margin: 0;
    margin-left: 100px;
	margin-bottom: 30px;
	font-size: 25px;
}
.dropdown-content {
    display: none;
}
.dropdown-trigger:hover + .dropdown-content {
	color: white; /* Set text color */
    display: block;
}
.tan-section {
	background-color: #cecabe; /* Background color for the centered section */
}
.profile-section {
	display: flex;
	align-items: center;
}
.profile-info {
	flex: 1;
}
.profile-info p {
	margin: 0;
}
.profile-image {
	flex: 1;
	text-align: right;
	padding-right: 650px;
	border-radius: 30px;
}
.connect-icons {
	text-align: center;
	width: 30px;
	margin: 5px;
	padding-left: 620px;
}
.gray-section {
	background-color: rgb(247, 244, 244); /* Background color for the centered section */
}
.white-section {
	margin-top: 90px;
	margin-left: 630px;
	margin-right: 630px;
	border-radius: 15px;
	background-color: #ffffff; /* Background color for the centered section */
}
.wcontainer {
	display: flex;
	justify-content: space-between;
}
.wsection {
	line-height: 1.6;
	text-align: center;
	width: 30%; /* Adjust the width as needed */
	padding: 20px;
	margin: 10px;
}
.blue-section {
	background-color: #b4bdbc; /* Background color for the centered section */
	display: flex;
	align-items: center; /* Align items vertically */
}
.profile-image1 {
	flex: 1;
	text-align: left;
	padding-right: 20px; /* Adjust as needed */
}
.profile-image1 img {
	margin-top: 100px;
	margin-left: 600px;
	margin-bottom: 100px;
	border-radius: 30px;
	width: 750px;
}
.profile-text1 {
	padding-right: 610px;
	padding-bottom: 220px;
	line-height: 1.9;
	font-family: Arial, sans-serif;
}